version: 2
jobs:
  deploy:
    docker:
      - image: "python:3.6"
    steps:
      - checkout
      - run: envsubst < setup.py.template > setup.py
      - run: cat setup.py
      - run: python setup.py sdist
      - run: pip install twine
      - run: twine upload dist/*
    branches:
      only:
        - master
